 h3, nav, footer
{
    font-family: "Trebuchet MS", Tahoma,  sans-serif;
    font-size:200%;
    
    
}
body
{
    font-family: Georgia, sans-serif;
    font-size: 100%;
    background-image: url("231f.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
header, footer
{
  color: black;
  background-color: white;
  margin: 0em 4em 0.25em 4em;
 
}
 h1{
   margin-left: 100%;
  color:#5275D0;
  font-size: 100%;
  width:200px;
  border: 7px solid rgb(92, 78, 38);
  border-radius: 20px;
 }
 table, th, tr {

  border: 5px solid black;
  margin-left: 50px;
  background-color: black ;
   
  
  
}
td{
  margin-right: 30%;
  background-color: black;
  
  
}
p{
 
  color:white;
  
}
.clasa{
  width:200px;
  border: 6px solid rgb(22, 22, 17);
  border-radius: 15px;
}

.Ariani {

    width: 1230px;
    padding: 10px;
    border: 5px solid  rgb(218, 214, 160) ;
    margin: 0;
      background-image:url("Camera.png");
      background-repeat: no-repeat;
      
      -ms-transform: skew(20deg); 
      -webkit-transform: skew(20deg); 
      transform: skew(5deg); 
   
  
}
.Emini{
  width: 150px;
  padding: 10px;
  border: 2px solid  rgb(218, 214, 160) ;
  margin: 1px;

}
h4{
  margin-left: 300px;

}
.U{
  font-size:150%;
  
}
.F{
  width: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;

 
}
.Div{
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
.Div :hover{
  width:300px;
}
h2{
  font-weight: bold;
  color:#ffffff;
  width:200px;
}
div{
  width: 200px;
  height: 400px;
  background-color: black;
  border: 1px solid black;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111010;
  min-width: 350px;

  box-shadow: 30px 50px 70px 90px rgba(3, 7, 231, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}







