 h3, nav, footer
{
    font-family: "Trebuchet MS", Tahoma,  sans-serif;
    font-size:200%;
    
    
}
body
{
    font-family: Georgia, sans-serif;
    font-size: 100%;
    background-image: url("231f.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
header, footer
{
  color: black;
  background-color: rgb(100, 100, 236);
  margin: 0em 4em 0.25em 4em;
 
}
 h1{
   margin-left: 100%;
  color:#5275D0;
  font-size: 100%;
  width:200px;
  border: 7px solid black;
  border-radius: 20px;
 }
 table, th, tr {

  border: 5px solid black;
  margin-left: 50px;
  background-color: black ;
   
  
  
}
td{
  margin-right: 30%;
  background-color: black;
  
  
}
p{
 
  color:white;
  
}
.clasa{
  width:200px;
  border: 6px solid rgb(22, 22, 17);
  border-radius: 15px;
}

.Teli {
    height: 1000px;
    width: 1200px;
    padding: 25px;
    border: 5px solid  black ;
    margin: 0;
      background-image:url("Camera.png");
      background-repeat: no-repeat;
      
      -ms-transform: skew(20deg); 
      -webkit-transform: skew(20deg); 
      transform: skew(5deg); 
   
  
}
.Tel{
  width:200px;
}

.Div{
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
.Div :hover{
  width:300px;
}
h2{
  font-weight: bold;
  color:white;
  width:200px;
}
div{
  width: 200px;
  height: 400px;
  background-color: none;
  border: 0px solid black;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111010;
  min-width: 350px;

  box-shadow: 30px 50px 70px 90px rgba(3, 7, 231, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
input[type=text] {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border:none;
  border-bottom: 5px solid blue;
}
textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid rgb(40, 5, 241);
  border-radius: 4px;
  background-color: rgb(186, 182, 240);
  font-size: 16px;
  resize: none;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 180%;
}
.Tabela{
  height: 10px;
  margin-left:850px;
  margin-top:100px;
}
.center {
  margin-left: 35%;
  height: 100px;
  width:60%;
  
  
}

.pagination {
  text-align: center;
  display: inline-block;
  height: 70px;
  width:60%;
  
  
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition:  .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  
  
}

.pagination a.active {
  background-color: rgb(6, 2, 241);
  color: white;
  border: 1px solid rgb(26, 10, 247);
  
}

.pagination a:hover:not(.active)
 {background-color: white;  }


 .H2{
   width:400px;
 }
 a:visited {
  color: white;
}


a:hover {
  color: white;
}


a:active {
  color: white;
}
.V{
  color:blue;
  text-align: center;
  

}
.B{
  background: blue;
  
}
.VI{
  border: 2px solid blue;
}
